<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lobby Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
    
</head>
<body>
    <h1>Monopoly</h1>
    <h2>Room - {{roomid}}</h2>
    <div id = "dealerPiles">
        <div id="drawPile">
            <h2>Draw Pile</h2>
        </div>
        <div id="playPile">
            <h2>Play Pile</h2>
        </div> 
    </div>
    <div id = "collection">
        <div id="propertyCollection">
            <h2>Property Collection</h2>
        </div>
        <div id="bankCollection">
            <h2>Bank Collection</h2>
        </div>
    </div>
    <div id = "handCards"></div>

    <button>Start Game</button>
</body>
</html>