<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- <script src="main.js"></script> -->
    <style>
        /* Carousel base class */
        .carousel {
        width:80vw;
        margin:auto;
        height:500px;
        margin-bottom: 60px;
        }
        /* Since positioning the image, we need to help out the caption */
        .carousel-caption {
        z-index: 10;
        }

        /* Declare heights because of positioning of img element */
        .carousel .item {
        height: 500px;
        /* background-color: #777; */
        }
        .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 500px;
        }

    </style>
</head>
<body>
    
    <div style="width:80vw;margin:auto;">

    <!-- <h1 style="text-align:center">MONOPOLY</h1> -->
    <div style="height:20vh;margin: 0 0 2% 0; text-align:center;">
        <img style="height:100%" src="monopolyTitle.png" alt="monopolyTitle">
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="false">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="first-slide img-responsive" src="http://placehold.it/1920x500" alt="First slide">
              </div>
              <div class="item">
                <div class="row" style="height:100%">
                    <div class="col-md-9" style="height:100%; overflow-x: scroll;">
                            <div style="float:left;height:100%">
                                    <div style="height:100%"><img src="money4.svg" alt="Card" style="height:100%"></div>
                                    <div style="height:100%;position:absolute;top:20%;"><img src="money4.svg" alt="Card" style="height:100%"></div>
                                    <div style="height:100%;position:absolute;top:40%;"><img src="money4.svg" alt="Card" style="height:100%"></div>
                                    <div style="height:100%;position:absolute;top:60%;"><img src="money4.svg" alt="Card" style="height:100%"></div>
                            </div>
                            
                            <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
                            <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
                            <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
                            <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
                            <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
                    </div>
                    <div class="col-md-3" style="height:100%;overflow-x: scroll;">
                            <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
                            <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
                            <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
                            <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
                            <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
                    </div>
                    
                    
                    
                </div>
              </div>
              <div class="item">
                <img class="third-slide img-responsive" src="http://placehold.it/1920x500" alt="Third slide">
              </div>
              <div class="item">
                <img class="fourth-slide img-responsive" src="http://placehold.it/1920x500" alt="fourth slide">

              </div>
            </div>

            <div class="tabbable">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active"><a href="#one" id="" data-toggle="tab" data-target="#one, #myCarousel" data-slide-to="0">One</a></li>
                  <li><a href="#two" data-toggle="tab" data-target="#two, #myCarousel" data-slide-to="1">Two</a></li>
                  <li><a href="#twee" data-toggle="tab" data-target="#twee, #myCarousel" data-slide-to="2">Twee</a></li>
                  <li><a href="#fwoo" data-toggle="tab" data-target="#fwoo, #myCarousel" data-slide-to="3">Fwoo</a></li>
                </ul>
              </div>
    </div><!-- /.carousel -->

    <div id="handCards" style="height: 300px;overflow: auto;">
        <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
        <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
        <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
        <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
        <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
        <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
        <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
        <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>
        <div style="float:left;height:100%"><img src="sampleGreen.svg" alt="Card" style="height:100%"></div>

    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
