<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src= '/static/scripts/jquery.min.js'></script>
    <script src= '/static/scripts/socket.io.min.js'></script>
    <script src= "/static/scripts/main.js"></script>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
    <!-- <script> -->
        
    <!--</script> -->
</head>
<body>
    <h1>Monopoly</h1>
    <div id="home">
            <div>
                    <input id="username" type="text">
                    <button onclick="submitUsername()">Submit Username</button>
                </div>
            
                <div>
                    <div>
                        <h2>Join Room</h2>
                        <input id="joinRoomId" type="text">
                        <button onclick="joinRoom()">Submit RoomId</button>
                    </div>
                    <div>
                        <h2>Create Room</h2>
                        <!-- <input type="text"> -->
                        <button onclick="createRoom()">Generate RoomId</button>
                    </div>
                </div>
    </div>

    <div id="lobby" style="display: none;">
        <h2>Room - <span id="lobbyRoomid"></span></h2>

        <div id = "users">
            
        </div>
    
        <button onclick="cueToStart()" style="display:none;">Start Game</button>
    </div>
    
    <div id="board" style="display:none;">
        <h2>Room - <span id="boardRoomid"></span></h2>
        <!-- <div id = "dealerPiles">
            <div id="drawPile">
                <h2>Draw Pile</h2>
            </div>
            <div id="playPile">
                <h2>Play Pile</h2>
            </div> 
        </div> -->
        <div id = "collection">
            
        </div>
        <div id="wait" style="display: none;"><span style="background-color: rgb(158, 158, 41)">Waiting for chance</span></div>
        <div id = "handCards">
            
        </div>
    
    </div>
    

</body>
</html>