<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lobby Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src="main.js"></script>
    <script>
        // $(document).ready(function() {
        socket.emit('enter_lobby', roomId);

        socket.on('modify_lobby',function(data){
            console.log('Players in lobby: '+data);
        });
        // }
    </script>

</head>
<body>
    <h1>Monopoly</h1>
    <h2>Room - {{roomid}}</h2>

    <div id = "users">
        
    </div>

    <button>Start Game</button>
</body>
</html>